In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error
import numpy as np

In [55]:
data = pd.read_csv("train.csv")

In [56]:
data

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,...,NaN,5.0,372.0,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,...,NaN,10.0,597.0,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,...,0.0,19.0,NaN,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,...,1.0,7.0,407.0,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,...,0.0,18.0,502.0,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

In [57]:
data = pd.DataFrame(data)

In [58]:
data = data.drop("id",axis=1)

In [59]:
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,Premium,NaN,5.0,372.0,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,Comprehensive,NaN,10.0,597.0,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,Basic,0.0,19.0,NaN,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,Premium,1.0,7.0,407.0,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,Premium,0.0,18.0,502.0,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

In [7]:
print(set(data['Gender']))

{'Female', 'Male'}

In [8]:
# print(set(data['Education Level']))

In [9]:
# print(set(data['Occupation']))

In [10]:
# print(set(data['Location']))

In [11]:
# print(set(data['Customer Feedback']))

In [12]:
print(set(data['Marital Status']))

{'Divorced', nan, 'Married', 'Single'}

In [13]:
# print(set(data['Exercise Frequency']))

In [14]:
print(set(data['Smoking Status']))

{'Yes', 'No'}

In [15]:
# print(set(data['Property Type']))

In [16]:
# print(set(data['Policy Type']))

In [60]:
categorical_columns = ['Gender','Education Level','Occupation','Location',
                       'Customer Feedback','Marital Status','Exercise Frequency','Smoking Status','Property Type','Policy Type']

## Handling Date time

In [61]:
data['Policy Start Date'] = pd.to_datetime(data['Policy Start Date'])
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,Premium,NaN,5.0,372.0,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0
1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,Comprehensive,NaN,10.0,597.0,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0
1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,Basic,0.0,19.0,NaN,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0
1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,Premium,1.0,7.0,407.0,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0
1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,Premium,0.0,18.0,502.0,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0

In [62]:
data['policy_year'] = data['Policy Start Date'].dt.year

In [63]:
data['policy_month'] = data['Policy Start Date'].dt.month

In [64]:
data['policy_day'] = data['Policy Start Date'].dt.day

In [75]:
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,policy_year,policy_month,policy_day
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,...,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0,2023,12,23
1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,...,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0,2023,6,12
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,...,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0,2023,9,30
3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,...,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0,2024,6,12
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,...,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0,2021,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,Premium,...,3.0,2023-05-03 15:21:39.257696,Poor,No,Daily,Apartment,1303.0,2023,5,3
1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,Comprehensive,...,4.0,2022-09-10 15:21:39.134960,Poor,No,Weekly,Apartment,821.0,2022,9,10
1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,Basic,...,6.0,2021-05-25 15:21:39.106582,Good,No,Monthly,Condo,371.0,2021,5,25
1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,Premium,...,4.0,2021-09-19 15:21:39.190215,Poor,No,Daily,Apartment,596.0,2021,9,19
1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,Premium,...,6.0,2020-08-26 15:21:39.155231,Good,Yes,Monthly,House,2480.0,2020,8,26

In [65]:
data = data.drop(columns=['Policy Start Date'])

In [13]:
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,policy_year,policy_month,policy_day
0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,...,372.0,5.0,Poor,No,Weekly,House,2869.0,2023,12,23
1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,...,694.0,2.0,Average,Yes,Monthly,House,1483.0,2023,6,12
2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,...,NaN,3.0,Good,Yes,Weekly,House,567.0,2023,9,30
3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,...,367.0,1.0,Poor,Yes,Daily,Apartment,765.0,2024,6,12
4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,...,598.0,4.0,Poor,Yes,Weekly,House,2022.0,2021,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,Female,27316.0,Married,0.0,Master's,Unemployed,13.772907,Urban,Premium,...,372.0,3.0,Poor,No,Daily,Apartment,1303.0,2023,5,3
1199996,54.0,Male,35786.0,Divorced,NaN,Master's,Self-Employed,11.483482,Rural,Comprehensive,...,597.0,4.0,Poor,No,Weekly,Apartment,821.0,2022,9,10
1199997,19.0,Male,51884.0,Divorced,0.0,Master's,NaN,14.724469,Suburban,Basic,...,NaN,6.0,Good,No,Monthly,Condo,371.0,2021,5,25
1199998,55.0,Male,NaN,Single,1.0,PhD,NaN,18.547381,Suburban,Premium,...,407.0,4.0,Poor,No,Daily,Apartment,596.0,2021,9,19
1199999,21.0,Female,NaN,Divorced,0.0,PhD,NaN,10.125323,Rural,Premium,...,502.0,6.0,Good,Yes,Monthly,House,2480.0,2020,8,26

In [66]:
numerical_columns = []

for i in data.columns:
    if i not in categorical_columns:
        numerical_columns.append(i)

In [67]:
numerical_columns.remove('Premium Amount')
numerical_columns

['Age',
 'Annual Income',
 'Number of Dependents',
 'Health Score',
 'Previous Claims',
 'Vehicle Age',
 'Credit Score',
 'Insurance Duration',
 'policy_year',
 'policy_month',
 'policy_day']

In [68]:
categorical_columns

['Gender',
 'Education Level',
 'Occupation',
 'Location',
 'Customer Feedback',
 'Marital Status',
 'Exercise Frequency',
 'Smoking Status',
 'Property Type',
 'Policy Type']

In [19]:
# Ordinal encoding ==> Education level, Policy type, Customer Feedback, Property type, Occupation, Exercise Frequency, Location
# Date time column ===> Policy start date
# One hot encoding ===> Gender, Smoking status, Maternal Status

In [69]:
data[categorical_columns] = data[categorical_columns].fillna('missing')

## Ordinal encoding

In [70]:
po = [['PhD',"Master's","Bachelor's",'High School'],['Basic', 'Comprehensive','Premium'],['missing','Poor', 'Average','Good'],['Condo', 'Apartment', 'House'],['missing','Employed','Self-Employed','Unemployed'],['Daily','Weekly','Monthly','Rarely'],['Urban', 'Suburban','Rural'],['missing','Married','Divorced','Single'],['No', 'Yes'],['Female', 'Male']]
ordinal_categories = ['Education Level', 'Policy Type', 'Customer Feedback', 'Property Type','Occupation','Exercise Frequency','Location','Marital Status','Smoking Status','Gender']

for i in range(len(po)):
    encoder = OrdinalEncoder(categories=[po[i]])
    data[ordinal_categories[i]] = encoder.fit_transform(data[[ordinal_categories[i]]])

In [19]:
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,policy_year,policy_month,policy_day
0,19.0,0.0,10049.0,1.0,1.0,2.0,2.0,22.598761,0.0,2.0,...,372.0,5.0,1.0,0.0,1.0,2.0,2869.0,2023,12,23
1,39.0,0.0,31678.0,2.0,3.0,1.0,0.0,15.569731,2.0,1.0,...,694.0,2.0,2.0,1.0,2.0,2.0,1483.0,2023,6,12
2,23.0,1.0,25602.0,2.0,3.0,3.0,2.0,47.177549,1.0,2.0,...,NaN,3.0,3.0,1.0,1.0,2.0,567.0,2023,9,30
3,21.0,1.0,141855.0,1.0,2.0,2.0,0.0,10.938144,2.0,0.0,...,367.0,1.0,1.0,1.0,0.0,1.0,765.0,2024,6,12
4,21.0,1.0,39651.0,3.0,1.0,2.0,2.0,20.376094,2.0,2.0,...,598.0,4.0,1.0,1.0,1.0,2.0,2022.0,2021,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,36.0,0.0,27316.0,1.0,0.0,1.0,3.0,13.772907,0.0,2.0,...,372.0,3.0,1.0,0.0,0.0,1.0,1303.0,2023,5,3
1199996,54.0,1.0,35786.0,2.0,NaN,1.0,2.0,11.483482,2.0,1.0,...,597.0,4.0,1.0,0.0,1.0,1.0,821.0,2022,9,10
1199997,19.0,1.0,51884.0,2.0,0.0,1.0,0.0,14.724469,1.0,0.0,...,NaN,6.0,3.0,0.0,2.0,0.0,371.0,2021,5,25
1199998,55.0,1.0,NaN,3.0,1.0,0.0,0.0,18.547381,1.0,2.0,...,407.0,4.0,1.0,0.0,0.0,1.0,596.0,2021,9,19
1199999,21.0,0.0,NaN,2.0,0.0,0.0,0.0,10.125323,2.0,2.0,...,502.0,6.0,3.0,1.0,2.0,2.0,2480.0,2020,8,26

## Normalization

In [71]:
data[numerical_columns] = data[numerical_columns].apply(lambda col: col.fillna(col.mean()))

In [72]:
# Normalization

scaler = MinMaxScaler()
premium_scaler = MinMaxScaler()
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])
data['Premium Amount'] = premium_scaler.fit_transform(data[['Premium Amount']])
print(scaler)

MinMaxScaler()

In [73]:
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,policy_year,policy_month,policy_day
0,0.021739,0.0,0.066988,1.0,0.250000,2.0,2.0,0.361397,0.0,2.0,...,0.131148,0.500,1.0,0.0,1.0,2.0,0.572203,0.8,1.000000,0.733333
1,0.456522,0.0,0.211186,2.0,0.750000,1.0,0.0,0.238002,2.0,1.0,...,0.717668,0.125,2.0,1.0,2.0,2.0,0.293834,0.8,0.454545,0.366667
2,0.108696,1.0,0.170678,2.0,0.750000,3.0,2.0,0.792879,1.0,2.0,...,0.533560,0.250,3.0,1.0,1.0,2.0,0.109861,0.8,0.727273,0.966667
3,0.065217,1.0,0.945719,1.0,0.500000,2.0,0.0,0.156695,2.0,0.0,...,0.122040,0.000,1.0,1.0,0.0,1.0,0.149628,1.0,0.454545,0.366667
4,0.065217,1.0,0.264340,3.0,0.250000,2.0,2.0,0.322378,2.0,2.0,...,0.542805,0.375,1.0,1.0,1.0,2.0,0.402089,0.4,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,0.391304,0.0,0.182105,1.0,0.000000,1.0,3.0,0.206459,0.0,2.0,...,0.131148,0.250,1.0,0.0,0.0,1.0,0.257682,0.8,0.363636,0.066667
1199996,0.782609,1.0,0.238573,2.0,0.502483,1.0,2.0,0.166268,2.0,1.0,...,0.540984,0.375,1.0,0.0,1.0,1.0,0.160876,0.6,0.727273,0.300000
1199997,0.021739,1.0,0.345896,2.0,0.000000,1.0,0.0,0.223164,1.0,0.0,...,0.533560,0.625,3.0,0.0,2.0,0.0,0.070496,0.4,0.363636,0.800000
1199998,0.804348,1.0,0.218301,3.0,0.250000,0.0,0.0,0.290275,1.0,2.0,...,0.194900,0.375,1.0,0.0,0.0,1.0,0.115686,0.4,0.727273,0.600000
1199999,0.065217,0.0,0.218301,2.0,0.000000,0.0,0.0,0.142426,2.0,2.0,...,0.367942,0.625,3.0,1.0,2.0,2.0,0.494075,0.2,0.636364,0.833333

In [74]:
X = data.drop(columns=['Premium Amount'])  
y = data['Premium Amount']

In [24]:
data

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount,policy_year,policy_month,policy_day
0,0.021739,0.0,0.066988,1.0,0.250000,2.0,2.0,0.361397,0.0,2.0,...,0.131148,0.500,1.0,0.0,1.0,2.0,0.572203,0.8,1.000000,0.733333
1,0.456522,0.0,0.211186,2.0,0.750000,1.0,0.0,0.238002,2.0,1.0,...,0.717668,0.125,2.0,1.0,2.0,2.0,0.293834,0.8,0.454545,0.366667
2,0.108696,1.0,0.170678,2.0,0.750000,3.0,2.0,0.792879,1.0,2.0,...,0.533560,0.250,3.0,1.0,1.0,2.0,0.109861,0.8,0.727273,0.966667
3,0.065217,1.0,0.945719,1.0,0.500000,2.0,0.0,0.156695,2.0,0.0,...,0.122040,0.000,1.0,1.0,0.0,1.0,0.149628,1.0,0.454545,0.366667
4,0.065217,1.0,0.264340,3.0,0.250000,2.0,2.0,0.322378,2.0,2.0,...,0.542805,0.375,1.0,1.0,1.0,2.0,0.402089,0.4,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,0.391304,0.0,0.182105,1.0,0.000000,1.0,3.0,0.206459,0.0,2.0,...,0.131148,0.250,1.0,0.0,0.0,1.0,0.257682,0.8,0.363636,0.066667
1199996,0.782609,1.0,0.238573,2.0,0.502483,1.0,2.0,0.166268,2.0,1.0,...,0.540984,0.375,1.0,0.0,1.0,1.0,0.160876,0.6,0.727273,0.300000
1199997,0.021739,1.0,0.345896,2.0,0.000000,1.0,0.0,0.223164,1.0,0.0,...,0.533560,0.625,3.0,0.0,2.0,0.0,0.070496,0.4,0.363636,0.800000
1199998,0.804348,1.0,0.218301,3.0,0.250000,0.0,0.0,0.290275,1.0,2.0,...,0.194900,0.375,1.0,0.0,0.0,1.0,0.115686,0.4,0.727273,0.600000
1199999,0.065217,0.0,0.218301,2.0,0.000000,0.0,0.0,0.142426,2.0,2.0,...,0.367942,0.625,3.0,1.0,2.0,2.0,0.494075,0.2,0.636364,0.833333

In [25]:
X

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,policy_year,policy_month,policy_day
0,0.021739,0.0,0.066988,1.0,0.250000,2.0,2.0,0.361397,0.0,2.0,...,0.894737,0.131148,0.500,1.0,0.0,1.0,2.0,0.8,1.000000,0.733333
1,0.456522,0.0,0.211186,2.0,0.750000,1.0,0.0,0.238002,2.0,1.0,...,0.631579,0.717668,0.125,2.0,1.0,2.0,2.0,0.8,0.454545,0.366667
2,0.108696,1.0,0.170678,2.0,0.750000,3.0,2.0,0.792879,1.0,2.0,...,0.736842,0.533560,0.250,3.0,1.0,1.0,2.0,0.8,0.727273,0.966667
3,0.065217,1.0,0.945719,1.0,0.500000,2.0,0.0,0.156695,2.0,0.0,...,0.000000,0.122040,0.000,1.0,1.0,0.0,1.0,1.0,0.454545,0.366667
4,0.065217,1.0,0.264340,3.0,0.250000,2.0,2.0,0.322378,2.0,2.0,...,0.421053,0.542805,0.375,1.0,1.0,1.0,2.0,0.4,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,0.391304,0.0,0.182105,1.0,0.000000,1.0,3.0,0.206459,0.0,2.0,...,0.263158,0.131148,0.250,1.0,0.0,0.0,1.0,0.8,0.363636,0.066667
1199996,0.782609,1.0,0.238573,2.0,0.502483,1.0,2.0,0.166268,2.0,1.0,...,0.526316,0.540984,0.375,1.0,0.0,1.0,1.0,0.6,0.727273,0.300000
1199997,0.021739,1.0,0.345896,2.0,0.000000,1.0,0.0,0.223164,1.0,0.0,...,1.000000,0.533560,0.625,3.0,0.0,2.0,0.0,0.4,0.363636,0.800000
1199998,0.804348,1.0,0.218301,3.0,0.250000,0.0,0.0,0.290275,1.0,2.0,...,0.368421,0.194900,0.375,1.0,0.0,0.0,1.0,0.4,0.727273,0.600000
1199999,0.065217,0.0,0.218301,2.0,0.000000,0.0,0.0,0.142426,2.0,2.0,...,0.947368,0.367942,0.625,3.0,1.0,2.0,2.0,0.2,0.636364,0.833333

In [26]:
y

0          0.572203
1          0.293834
2          0.109861
3          0.149628
4          0.402089
             ...
1199995    0.257682
1199996    0.160876
1199997    0.070496
1199998    0.115686
1199999    0.494075
Name: Premium Amount, Length: 1200000, dtype: float64

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [76]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [77]:
y_pred = model.predict(X_test)
rmsle = np.sqrt(mean_squared_log_error(y_test, y_pred))

In [79]:
print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)
print("RMSLE:", rmsle)

Coefficients: [-1.27208697e-03  5.65078898e-05 -1.60468296e-02 -9.19103311e-04
 -2.91035701e-04  3.64119844e-04  8.00137440e-04  1.33353319e-02
 -2.28700257e-05  2.03832662e-04  7.82780624e-02 -4.06701918e-04
 -2.01391108e-02 -3.10145767e-04 -2.85285540e-03  4.62700472e-05
 -8.97545733e-05 -2.42745570e-04 -6.17254931e-03  2.27610451e-03
  5.25231379e-05]
Intercept: 0.2262536400189313
RMSLE: 0.1341675294599725

## Testing data

In [80]:
t = pd.read_csv("test.csv")

In [81]:
t = pd.DataFrame(t)

In [82]:
t = t.drop("id",axis=1)

In [83]:
t

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,50.0,Female,38782.0,Married,1.0,Bachelor's,NaN,14.498639,Rural,Premium,NaN,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo
799996,NaN,Female,73462.0,Single,0.0,Master's,NaN,8.145748,Rural,Basic,2.0,0.0,NaN,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment
799997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,NaN,10.0,NaN,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment
799998,34.0,Female,45661.0,Single,3.0,Master's,NaN,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo
799999,25.0,Male,24843.0,Divorced,3.0,High School,NaN,24.893939,Suburban,Comprehensive,NaN,15.0,NaN,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House

In [84]:
categorical_columns = ['Gender','Education Level','Occupation','Location',
                       'Customer Feedback','Marital Status','Exercise Frequency','Smoking Status','Property Type','Policy Type']

In [85]:
t['Policy Start Date'] = pd.to_datetime(t['Policy Start Date'])
t

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,50.0,Female,38782.0,Married,1.0,Bachelor's,NaN,14.498639,Rural,Premium,NaN,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo
799996,NaN,Female,73462.0,Single,0.0,Master's,NaN,8.145748,Rural,Basic,2.0,0.0,NaN,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment
799997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,NaN,10.0,NaN,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment
799998,34.0,Female,45661.0,Single,3.0,Master's,NaN,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo
799999,25.0,Male,24843.0,Divorced,3.0,High School,NaN,24.893939,Suburban,Comprehensive,NaN,15.0,NaN,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House

In [86]:
t['policy_year'] = t['Policy Start Date'].dt.year

In [87]:
t['policy_month'] = t['Policy Start Date'].dt.month

In [88]:
t['policy_day'] = t['Policy Start Date'].dt.day

In [89]:
t = t.drop(columns=['Policy Start Date'])

In [90]:
numerical_columns = []

for i in t.columns:
    if i not in categorical_columns:
        numerical_columns.append(i)

In [91]:
t[categorical_columns] = t[categorical_columns].fillna('missing')

In [92]:
po = [['PhD',"Master's","Bachelor's",'High School'],['Basic', 'Comprehensive','Premium'],['missing','Poor', 'Average','Good'],['Condo', 'Apartment', 'House'],['missing','Employed','Self-Employed','Unemployed'],['Daily','Weekly','Monthly','Rarely'],['Urban', 'Suburban','Rural'],['missing','Married','Divorced','Single'],['No', 'Yes'],['Female', 'Male']]
ordinal_categories = ['Education Level', 'Policy Type', 'Customer Feedback', 'Property Type','Occupation','Exercise Frequency','Location','Marital Status','Smoking Status','Gender']

for i in range(len(po)):
    encoder = OrdinalEncoder(categories=[po[i]])
    t[ordinal_categories[i]] = encoder.fit_transform(t[[ordinal_categories[i]]])

In [93]:
t[numerical_columns] = t[numerical_columns].apply(lambda col: col.fillna(col.mean()))

In [94]:
t[numerical_columns] = scaler.fit_transform(t[numerical_columns])

In [95]:
t

,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,...,Vehicle Age,Credit Score,Insurance Duration,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,policy_year,policy_month,policy_day
0,0.217391,0.0,0.015387,0.0,1.00,2.0,2.0,0.106754,2.0,0.0,...,1.000000,0.533524,0.000,1.0,1.0,1.0,2.0,0.8,0.454545,0.100000
1,0.282609,0.0,0.840221,1.0,0.50,1.0,2.0,0.208394,1.0,2.0,...,0.736842,0.131148,0.875,3.0,1.0,3.0,1.0,1.0,0.272727,0.700000
2,0.630435,0.0,0.113937,2.0,0.00,0.0,3.0,0.403261,0.0,1.0,...,0.842105,0.945355,1.000,2.0,1.0,2.0,0.0,0.8,0.272727,0.133333
3,0.217391,0.0,0.202820,2.0,0.75,0.0,2.0,0.061972,1.0,1.0,...,0.157895,0.856102,0.500,1.0,1.0,0.0,2.0,0.8,0.818182,0.800000
4,0.130435,1.0,0.072409,2.0,0.50,3.0,3.0,0.181095,1.0,2.0,...,0.736842,0.828780,0.750,2.0,0.0,1.0,2.0,0.4,0.909091,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,0.695652,0.0,0.258542,1.0,0.25,2.0,0.0,0.228235,2.0,2.0,...,0.421053,0.016393,0.125,2.0,1.0,0.0,0.0,0.4,0.545455,0.266667
799996,0.502966,0.0,0.489750,3.0,0.00,1.0,0.0,0.115416,2.0,0.0,...,0.000000,0.533524,0.125,3.0,0.0,0.0,1.0,0.8,0.181818,0.900000
799997,0.173913,0.0,0.234514,3.0,0.00,1.0,1.0,0.088616,0.0,1.0,...,0.526316,0.533524,0.625,1.0,0.0,2.0,1.0,0.0,0.727273,0.966667
799998,0.347826,0.0,0.304403,3.0,0.75,1.0,0.0,0.253782,0.0,2.0,...,0.894737,0.304189,0.750,2.0,0.0,1.0,0.0,0.6,0.363636,0.266667
799999,0.152174,1.0,0.165612,2.0,0.75,3.0,0.0,0.412841,1.0,1.0,...,0.789474,0.533524,0.875,3.0,0.0,3.0,2.0,0.4,0.363636,0.566667

In [96]:
predictions = model.predict(t)

In [97]:
predictions

array([0.21945404, 0.20746318, 0.20866647, ..., 0.21808005, 0.22412214,
       0.2146591 ])

In [98]:
predictions = predictions.reshape(-1, 1)

In [99]:
original_predictions = premium_scaler.inverse_transform(predictions)

In [100]:
te = pd.read_csv("test.csv")

In [101]:
te = pd.DataFrame(te)

In [102]:
te

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1999995,50.0,Female,38782.0,Married,1.0,Bachelor's,NaN,14.498639,Rural,Premium,NaN,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo
799996,1999996,NaN,Female,73462.0,Single,0.0,Master's,NaN,8.145748,Rural,Basic,2.0,0.0,NaN,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment
799997,1999997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,Comprehensive,NaN,10.0,NaN,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment
799998,1999998,34.0,Female,45661.0,Single,3.0,Master's,NaN,15.937248,Urban,Premium,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo
799999,1999999,25.0,Male,24843.0,Divorced,3.0,High School,NaN,24.893939,Suburban,Comprehensive,NaN,15.0,NaN,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House

In [105]:
te['Premium Amount'] = original_predictions

In [106]:
te

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,...,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House,1112.661667
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,...,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment,1052.959171
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,...,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo,1058.950365
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,...,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House,1056.552891
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,...,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House,1086.356625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1999995,50.0,Female,38782.0,Married,1.0,Bachelor's,NaN,14.498639,Rural,...,NaN,8.0,309.0,2.0,2021-07-09 15:21:39.184157,Average,Yes,Daily,Condo,1143.703833
799996,1999996,NaN,Female,73462.0,Single,0.0,Master's,NaN,8.145748,Rural,...,2.0,0.0,NaN,2.0,2023-03-28 15:21:39.250151,Good,No,Daily,Apartment,1066.528500
799997,1999997,26.0,Female,35178.0,Single,0.0,Master's,Employed,6.636583,Urban,...,NaN,10.0,NaN,6.0,2019-09-30 15:21:39.132191,Poor,No,Monthly,Apartment,1105.820573
799998,1999998,34.0,Female,45661.0,Single,3.0,Master's,NaN,15.937248,Urban,...,2.0,17.0,467.0,7.0,2022-05-09 15:21:39.253660,Average,No,Weekly,Condo,1135.904137
799999,1999999,25.0,Male,24843.0,Divorced,3.0,High School,NaN,24.893939,Suburban,...,NaN,15.0,NaN,8.0,2021-05-18 15:21:39.108562,Good,No,Rarely,House,1088.787674

In [108]:
len(original_predictions)

800000

In [111]:
dic = {}
for i in range(800000):
    dic.update({1200000+i:original_predictions[i][0]})

In [114]:
final = pd.DataFrame(list(dic.items()), columns=['id', 'Premium Amount'])

In [115]:
final

             id  Premium Amount
0       1200000     1112.661667
1       1200001     1052.959171
2       1200002     1058.950365
3       1200003     1056.552891
4       1200004     1086.356625
...         ...             ...
799995  1999995     1143.703833
799996  1999996     1066.528500
799997  1999997     1105.820573
799998  1999998     1135.904137
799999  1999999     1088.787674

[800000 rows x 2 columns]

In [116]:
final.to_csv('submission.csv',index=False)